<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>I am a full stack developer with an unusual background. Originally studying physics as an undergraduate at Imperial College London. I then moved toward teaching with a teaching degree from University College London, before deciding to go back to physics for a PhD at the University of British Columbia.</p>
      </div>
      <div class="col-lg-4">
        <p>While there, I developed a new mesocopic entropy measurement technique. More importantly, during that time, I spent a huge amount of time coding, going well beyond the typical data analysis of a scientist. Towards the end of my PhD I became more serious about software development and learnt as much as I could from SQL database management to sassy styling of web apps.</p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download Theme
        </a>
      </div>
    </div>
  </div>
</section>
